<ion-header class="m-header aw-header">

    <ion-toolbar>
        <ion-buttons left>
            <button ion-button *ngIf="!mDatas.isOnDetail" class="menu-icon" (click)="onClickMenu()">
              <ion-icon name="aw-menu"></ion-icon>
            </button>
            <button ion-button *ngIf="mDatas.isOnDetail" (click)="onClickCloseViewDetail()">
              <ion-icon name="ios-arrow-back-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title (click)="onClickTitle()">{{ mDatas.circleId?mDatas.circleName:mTexts.title}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only class="more-btn" (click)="onClickMore()">
              <ion-icon name="ios-more-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding>
  <button ion-button full (click)="onClickTest()">Test</button>
</ion-content>
