page-add-member {
    .m-header {
        border-bottom: 1px solid #D6D6D6;
        ion-toolbar {
            .toolbar-background {
                background: transparent;
                border: none;
            }
            .menu-icon {
                font-size: 1.2rem;
            }
        }
    }
    ion-content {
        background-color: #F8F8F8 !important;
    }
    .main-content {
        padding: 20px 16px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #D6D6D6;
        text-align: center;
        margin-top: 30px;
        .label {
            font-size: 1.4em;
            margin-bottom: 4px;
        }
        .msg {
            color: #8D8D8D;
            margin-bottom: 16px;
        }
        .code-container {
            .char-container {
                margin: 4px;
                input{
                    text-transform: uppercase;
                }
            }
            .code {
                width: 2em;
                padding: 6px 2px;
                font-size: 1.2em;
                background-color: #61D5FE;
                border-radius: 10px;
                border: none;
                text-align: center;
                color: white;
                font-weight: bold;
            }
        }
    }
    .members-container{
        padding: 10px 16px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #D6D6D6;
        margin-top: 16px;
        .member-item{
            padding: 6px 0;
        }
        .add-member-icon{
            font-size: 2.6em;
            color: #47B1FF;
        }
        .member-avatar{
            width: 3em;
            height: 3em;
            margin-right: 16px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }
        .member-name{
            font-weight: bold;
        }
        .member-add-button{
            button{
                height: 0;
                padding: 16px;
                background-color: #2DD4FF;
            }
        }
    }
}
