<ion-header class="m-header aw-header">

  <ion-toolbar>
      <ion-buttons left [class.display-none]="mDatas.isSignUp">
          <button ion-button icon-only (click)="onClickClose()">
              <ion-icon name="ios-arrow-back-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>{{mTexts.title}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="a1-padding-left a1-padding-right">

  <div class="content-container a1-fill-parent">
      <div class="progress-bar" [class.display-none]="!mDatas.isSignUp">
          <div class="progress"></div>
      </div>
      <div class="input-container">
          <div class="name-container">
              <div class="inner-title">
                  <span>{{mTexts.nameTitle}}</span>
              </div>
              <input type="text" placeholder="{{mTexts.inputHolder}}" [(ngModel)]="mDatas.circleName">
          </div>
          <div class="suggest-container">
              <div class="suggest">
                  <div class="inner-title">
                      <span>{{mTexts.suggestTitle}}</span>
                  </div>
                  <ion-grid>
                      <ion-row>
                          <ion-col col-4 col-sm-3 col-md-2 class="suggest-item-container a3-container" *ngFor="let item of mTexts.suggests">
                              <span class="item a3-flex-1" (click)="onClickSuggestItem(item)">{{item}}</span>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </div>
          </div>
      </div>
      <div class="rest a3-container-center">
          <div class="pink-btn next-btn" (click)="onClickNext()">
              <span>{{mTexts.start}}</span>
          </div>
      </div>

  </div>

</ion-content>

<aw-loading *ngIf="mDatas.onLoading"></aw-loading>