<ion-menu type="overlay" [content]="content">
        <ion-content no-bounce class="aw-menu">
            <div class="menu-header a3-container a3-column a3-items-center" (click)="onClickUserInfo()">
                <div class="menu-avatar" [ngStyle]="{'background-image': 'url('+menuDatas.avatar+')'}">
                    <!-- <img [src]="menuDatas.avatar"> -->
                </div>
                <div class="menu-username a3-container a3-items-center">
                    <span class="a1-text-ellipsis a1-width-100">{{menuDatas.username}}</span>
                </div>
            </div>
            <div class="menu-circle-container">
                <div class="title">
                    <span>{{menuTexts.circle | uppercase}}</span>
                </div>
                <div class="circles">
                    <div class="circle" *ngFor="let circle of menuDatas.circles" [class.circle-actived]="menuDatas.currentCircleId==circle.id" (click)="onClickCircle(circle)">
                        <span>{{circle.name}}</span>
                    </div>
                </div>
                <div class="buttons-container">
                    <div class="button-new" (click)="onClickAddCircle()">
                        <span class="btn-icon">
                            <ion-icon name="ios-add-outline"></ion-icon>
                        </span>
                        <span>{{menuTexts.new}}</span>
                    </div>
                </div>
            </div>
            <div class="menu-function-container">
                <div class="title">
                    <span>{{menuTexts.function | uppercase}}</span>
                </div>
                <div class="menu-function" *ngFor="let func of menuDatas.functions">
                    <span>{{func.name}}</span>
                </div>
            </div>
        </ion-content>
    
        <ion-footer>
            <ion-toolbar class="aw-menu-footer" (click)="onClickSaveMoves()">
                <div class="footer-title">{{ menuTexts.saveMoves | uppercase }}</div>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    
<ion-nav [root]="rootPage" #content></ion-nav>
