<ion-header class="m-header aw-header">

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="onClickClose()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title (click)="onClickTitle()">
      {{ mTexts.title }}
    </ion-title>
    <ion-buttons right [class.hidden]="!mDatas.modified">
      <button ion-button (click)="onClickSave()">
        <ion-icon style="font-size: 3em; color: #47B1FF" name="ios-checkmark-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content no-bounce>

  <div class="avatar-container a3-container a3-items-center">
    <div class="avatar" *ngIf="mDatas.user" [ngStyle]="{'background-image': 'url('+mDatas.user?.avatar+')'}" (click)="filePicker.click()"> </div>
    <input type="file" class="hidden" accept="image/x-png,image/jpeg, image/jpg" #filePicker (change)="onImageChanged($event)">
  </div>
  <div class="user-info a3-container a3-column a3-items-center">
    <div class="username" (click)="onClickRename()">
      <span>{{ mDatas.user?.name }}</span>
      <span class="edit-icon">
        <ion-icon name="md-create"></ion-icon>
      </span>
    </div>
    <div class="address" (click)="onClickUpdateAddress()">
      <span>{{ mDatas.user?.address.address }}</span>
      <span class="edit-icon">
        <ion-icon name="md-create"></ion-icon>
      </span>
    </div>
    <div class="rest a3-flex-1 a3-container a3-items-center">
      <div class="buttons-container a3-container">
        <div (click)="onClickGetCode()">
          <div class="btn btn-getcode a3-container-center">
            <ion-icon name="aw-connected-lines"></ion-icon>
          </div>
          <div class="text-btn">{{ mTexts.getCode }}</div>
        </div>
        <div (click)="onClickLogOut()">
          <div class="btn btn-logout a3-container-center">
            <ion-icon name="aw-power"></ion-icon>
          </div>
          <div class="text-btn">{{ mTexts.signOut }}</div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<div id="backdrop" *ngIf="mDatas.isShowCodes" class="a3-container-center" (click)="onClickBackdrop()">
  <div id="code-container" (click)="onClickContainer()">
    <div class="static-code a3-container a3-justify-center">
      <div class="code" (click)="onClickStaticCode()">
        {{ staticCode }}
      </div>
    </div>
    <div class="dynamic-code a3-container">
      <div class="icon-container" (click)="onClickRefreshDynamicCode()">
        <ion-icon name="aw-refresh"></ion-icon>
      </div>
      <div class="code" (click)="onClickDynamicCode()">{{ mTexts.dynamicCode }} : <span bold>{{ dynamicCode }}</span></div>
    </div>
  </div>
</div>

<aw-loading *ngIf="mDatas.onLoading"></aw-loading>