page-user-info {
    .m-header {
        border-bottom: 1px solid #D6D6D6;
        ion-toolbar {
            .toolbar-background {
                border: none;
            }
            .menu-icon {
                font-size: 1.2rem;
            }
        }
    }
    ion-content {
        background-color: #F8F8F8 !important;
    }
    .avatar-container {
        height: 60%;
        padding: 0 18vw;
        .avatar {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            border: 1px solid #BEBEBE;
            width: 64vw;
            height: 64vw;
        }
    }
    .user-info {
        width: 100%;
        height: 40%;
        background-image: url(../assets/imgs/background-login.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        position: absolute;
        bottom: 0;
        padding: 20px 20px 0 20px;
        .username {
            font-size: 1.4em;
            padding: 0 70px;
            text-align: center;
            .edit-icon{
                font-size: .8em;
                color: #47B1FF;
            }
        }
        .address {
            // font-size: 0.9em;
            color: #8D8D8D;
            margin-top: 10px;
            padding: 0 20px;
            text-align: center;
            .edit-icon{
                color: #F4508A;
            }
        }
        .rest {
            .buttons-container {
                .btn {
                    border-radius: 50%;
                    font-size: 1.4em;
                    margin: 10px;
                    width: 2.8em;
                    height: 2.8em;
                    ion-icon {
                        color: white;
                    }
                }
                .btn-getcode {
                    background-color: #47B1FF;
                }
                .btn-logout {
                    background-color: #F4508A;
                }
                .text-btn {
                    color: #8D8D8D;
                    font-size: .8em;
                    text-align: center;
                }
            }
        }
    }
    #backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .6);
        #code-container {
            padding: 2em 10px 1em 10px;
            border-radius: 20px;
            background-color: white;
            .static-code {
                margin-bottom: 8px;
                .code {
                    background-color: #61D5FE;
                    padding: 10px 30px;
                    color: white;
                    border-radius: 20px;
                }
            }
            .dynamic-code {
                .icon-container {
                    color: #8D8D8D;
                    padding: 16px;
                }
                .code {
                    padding: 16px 16px 16px 0;
                }
            }
        }
    }
}
